*{
    margin:0;
    padding:0;
}

.body-section{
    justify-content: center;
    display: flex;
    margin-top:30px;
    width:100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.left-body{
    background-color:pink;
    height: 400px;
    width:48vw;
    position:relative;
    box-sizing:border-box;
}

.clock-sec{
    justify-content: center;
    display: grid;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color: black;
    box-shadow:3px 3px 5px rgb(0,0,0,0.3);
}
