*{
    margin:0;
    padding:0;
}

.body-section{
    justify-content: center;
    display: flex;
    margin-top:30px;
    width:100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.left-body{
    background-color:pink;
    height: 400px;
    width:48vw;
    position:relative;
    box-sizing:border-box;
}


